/*CSS*/

body {  
    background: #4b7ff0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .container{
    min-width: 160px;
    width: 75%;
    margin: 20px auto;
    align-self: center;
  }
  h1 {
    font-size: 22px;
    color:white;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
  }
  .flex-outer {
    max-width: 800px;
    padding: 0px 16px;
  }
  .flex-outer, .flex-inner {
    list-style-type: none;
  }
  .flex-outer li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  .flex-inner li {
    width: 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
  }
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 225px;
    align-items: center;
    flex-direction: row;
    max-width: 500px;
    justify-content: space-between;
    padding-inline-start: 0;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;
  }
  .flex-outer li input:not([type="checkbox"]),
  .flex-outer li textarea {
    display: flex;
    flex: 1 0 225px;
    max-width: 500px;
    padding: 5px 0;
  }
  
  .flex-outer li p, .flex-outer li label:not([type="for-checkbox" ]) {
    flex: 1 0 125px;
    max-width: 225px;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
  }
    .flex-outer button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-bottom: 25px;
    margin-top: 15px;
    padding: 6px 12px;
    border-radius: 3px;
    background-color: lime;
    border-color: rgb(0, 0, 0);
  }